<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body>

<div th:replace="fragments/navbar :: navbar">
    Navbar
</div>

<div class="container-fluid">
    <h2 class="text-center text-white mt-5">Details</h2>
    <div class="offers row mx-auto d-flex flex-row justify-content-center"
         th:object="${offerDetails}">
        <div class="offer card col-sm-2 col-md-3  col-lg-4 m-1 p-0">

            <div class="card-body pb-1">
                <h5 class="card-title" th:text="|*{year}  *{modelBrandName}  *{modelName}|">
                    Offer year Brand name Model name</h5>
            </div>
            <ul class="offer-details list-group list-group-flush">
                <li class="list-group-item">
                    <div class="card-text">Mileage: <b><span th:text="*{mileage}">• Mileage</span></b></div>
                    <div class="card-text">Price: <b><span th:text="*{price}">• Price</span></b></div>
                    <div class="card-text">Engine: <b><span th:text="*{engine}">• Engine type</span></b></div>
                    <div class="card-text">Transmission: <b><span
                            th:text="*{transmission}">• Transmission type</span></b></div>
                    <div class="card-text">Posted on: <b><span th:text="*{created}">• Offer created</span></b></div>
                    <div class="card-text" th:if="*{modified != null}">Modified on: <b><span th:text="*{modified}">• Offer modified</span></b>
                    </div>
                    <div class="card-text" th:if="*{sellerUsername != null}">Seller: <b><span
                            th:text="*{sellerUsername}">• Seller - Username</span></b></div>
                    <div class="card-text" th:unless="*{sellerUsername != null}">Seller: <b><span
                            th:text="anonymous">• Anonymous</span></b></div>
                    <div class="card-text">Description: <b><span
                            th:text="*{description}">• Description</span></b></div>
                </li>
            </ul>
            <div class="card-body">
                <div class="row">

                    <th:block th:if="${canModify}">
                        <form th:method="GET" th:action="@{/offers/update/{id}(id=*{id})}">
                            <input class="btn btn-link" type="submit" value="Update">
                        </form>

                        <form th:method="DELETE" th:action="@{/offers/delete/{id}(id=*{id})}">
                            <input class="btn btn-link" type="submit" value="Delete">
                        </form>
                    </th:block>

                </div>
            </div>
        </div>
        <div class="offer-details col-sm-2 col-md-3  col-lg-4 m-1 p-0">
            <img th:src="*{imageUrl}" class="card-img-top" alt="Car image">
        </div>
    </div>
</div>

<div>
    <footer></footer>
</div>

</body>
</html>
